/*=================
     Google font
 ==================*/
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('');

/*=================
     Globla css
 ==================*/
 body{
   font-family: 'Raleway', sans-serif;
 }
  h1{
    font-family: 'Cookie', cursive;
    text-align: center;
 }
 h2, h3, h4, h5, h6{
   font-family: 'Raleway', sans-serif;
 }
 a{
   text-decoration: none;
 }

 /*===================
     Header section
  ====================*/
header{
    background: url(../image/bg-img.png) no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 10px 0; 
}
.navbar-nav{
     margin-right: 20px;
}
.navbar-nav .nav-item{
   margin: 0 8px;
}
.navbar-nav .nav-item .nav-link{
     color: #d1d4d5;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.navbar-nav .nav-item .nav-link:hover{
	color: #ff992b;
    transition: all 0.3s ease-in-out;
}
.header-2{
   padding: 150px 0 200px;
}
.headers{
  padding: 85px 0;
  background: rgba(255,255,255,0.8);   
}
.headers h1{
	color: #2c3a42;
    font-size: 80px;
    margin-bottom: 0;
}
.headers h2{
    text-align: center;
    color: #ad6c12;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 64px;
    line-height: 24px;	
}
.headers .btn-read{
    color: #2c3a42;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    display: block;
    margin: 30px auto 0;
    width: 160px;
    background: rgba(255,255,255,0.7);
    padding: 4px 0;	
    transition: all 0.3s ease-in-out;
}
.headers .btn-read:hover{
	color: #fff;
	background: #2a3b40;
	transition: all 0.3s ease-in-out;
}
 /*===================
     Banner section
  ====================*/
.banner-section{
  background: #2a3b40;
  padding: 65px 0;
}
.banner-section h3{
    color: #fff;
    font-size: 30px;
     margin-bottom: 20px;
}
.banner-section p{
    color: #fff;
    font-size: 17px;
    font-weight: 200;
    line-height: 28px;
    padding-right: 41px;
}
.banner-section img{
   width: 100%;
   border-radius: 12px;
}

 /*===================
    Details section
  ====================*/
.details-section{
   padding: 95px 0;
   background: #d4d8d9;
}
.details-section i{
	color: #2a3b40;
	font-size: 30px;
}
.details-section span{
    display: block;
    font-weight: 800;
    margin: 20px 0;
}
.details-section p{
    font-size: 14px;
    color: #2a3b40;
    font-weight: 500;
    margin: 0;
}
 /*===================
    food-menu section
  ====================*/
.food-menu-section{
  padding: 80px 0;
  background: url(../image/bg-img-2.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.food-menu-section .row{
	justify-content: center;
}
.food-menu-section .plate-serve{
    background: rgba(255,255,255,0.7);
    padding: 30px 0 50px;
    width: 82.1%;
}
.plate-serve h1{
    color: #2c3a42;
    font-size: 80px;
    margin-bottom: 0;
}
.plate-serve h2{
    text-align: center;
    color: #ad6c12;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 48px;
    line-height: 24px;	
}
.food-serve{
    width: 82%;
    padding: 0;
    margin: 0;
}
.food-serve .col-lg-3{
	padding: 0;
	margin: 0;
}
.food-serve img{
    width: 100%;
}
.food-serve .root-image{
    width: 100%;
    height: 98.5%;
}
.food-describe {
    background: rgba(255,255,255,0.7);
    padding: 39px 35px 44px;
}
.food-describe h4{
 text-transform: uppercase;
  color: #304751;
  font-weight: 700;
  margin-bottom: 18px;
  font-size: 20px;
  text-align: center;
}
.food-describe p{
   color: #304751;
  text-align: center;
  font-weight: 500;
}

.food-describe span{
	display: block;
   color: #304751;
  text-align: center;
  font-weight: 700;
}

 /*===================
    details2-section
  ====================*/
.details2-section{
    background: url(../image/bg-bar.jpg) no-repeat center top;
    background-size: cover;
    padding: 90px 0 60px;
}
.details2-section h2{
	font-size: 30px;
   text-align: center;
    font-weight: 700;
    color: #2a3b40;
    margin-bottom: 22px;
}
.details2-section p{
    text-align: center;
    padding: 0 50px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
}
.details2-section .icons{
	text-align: center;
     margin: 30px 0;
}
.details2-section .icons i{
	font-size: 26px;
}
.details2-section ul{
  padding: 0;
  text-align: center;
}
.details2-section ul li{
  font-weight: 700;
  list-style: none;
  display: inline-block;
  text-transform: capitalize;
  margin: 0 22px;
}

 /*===================
    set-menu-section
  ====================*/
.set-menu-section{
	position: relative;
    background: url(../image/bg-img-5.png) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0 140px;
    z-index: 1;
}
.set-menu-section::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 92%;
    background: rgba(255,255,255,0.7);
    top: 36px;
    left: 0;
    z-index: -1;
}
.set-menu-section h1{
  color: #2c3a42;
    font-size: 70px;
    margin-bottom: 0;
    line-height: 52px;	
}
.set-menu-section h2{
    text-align: center;
    color: #ad6c12;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 50px;	
}
.set-food{
	overflow: hidden;
}
.set-food img{
	background: #fff;
	width: 100%;
	transition: all 0.3s ease-in-out;
}
.set-food img:hover{
	transform: scale(1.2);
	transition: all 0.3s ease-in-out;
}
.set-details{
	background: #fff;
   padding: 22px 40px 25px 22px; 
}
.set-details span{
	color: #4f4e4e; 
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}
.set-details h5{
    color: #4f4e4e; 
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 8px;
}
.set-details p{
    line-height: 21px;
    font-size: 18px;
}
.set-details .btn-hash{
    text-transform: uppercase;
    border-bottom: 6px solid #ff992b;
    color: #555;
    font-weight: 700;
}

 /*===================
     middle section
  ====================*/
.middle-section{
  position: relative;
  background: url(../image/bg-img-3.png) no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  padding: 270px 0 230px;
  z-index: 1;
}
.middle-section::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 60%;
    background: rgba(255,255,255,0.7);
    top: 20%;
    left: 0;
    z-index: -1;
}
.middle-section h1{
     color: #2c3a42;
    font-size: 70px;
    margin-bottom: 0;
    line-height: 52px;	
}
.middle-section h2{
   text-align: center;
    color: #ad6c12;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 50px;	
}
.little-manu{
  margin-bottom: 60px;
}
.little-manu img{
    float: left;
    margin-right: 10px;	
}
.little-manu h4{
	font-size: 22px;
    color: #304751;
    font-weight: 700;	
}
.little-manu p{
    color: #5e7077;
    font-weight: 600;
}
.little-manu span{
    color: #304751;
    font-weight: 700;	
}

 /*===================
     formsection
  ====================*/
.form-section{
  position: relative;
  background: url(../image/bg-img-4.png) no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  padding: 250px 0 ;
  z-index: 1;	
}
.form-section::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 70%;
    background: rgba(0,0,0,0.6);
    top: 140px;
    left: 0;
    z-index: -1;
}
.form-section h1{
    color: #2c3a42;
    font-size: 70px;
    margin-bottom: 30px;
    line-height: 52px;
    text-transform: capitalize;	
}
.form-type{
   margin-bottom: 35px;
}
.form-type label{
    display: block;
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;	
}
.form-type select{
    border: 2px solid #f5f5f5;
    width: 100%;
    height: 32px;
    font-weight: 500;
    color: #fff;
    outline: none;
    border-radius: 8px;
    padding-left: 3px;
    background: transparent;	
}
.form-type select option{
  color: #000;
  font-weight: 500;
}
.form-ctl span{
    display: block;
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;	
}
.input1::placeholder{
  color: #fff;
}
.form-ctl .input1{
    width: 100%;
    height: 32px;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    outline: none;
    padding-left: 6px;
    border: 2px solid #f5f5f5;
    background: transparent;	
    transition: all 0.3s ease-in-out;
}
.form-ctl .input1:focus{
  box-shadow: 0px 0px 26px rgba(0,0,0,.5);
  transition: all 0.3s ease-in-out;
}
.form-type2{
  margin-bottom: 35px;
}
.form-type2 span{
    display: block;
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;		
}
.input2::placeholder{
  color: #fff;
}
.form-type2 .input2{
    width: 100%;
    height: 32px;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    outline: none;
    padding-left: 6px;
    border: 2px solid #f5f5f5;
    background: transparent;
    transition: all 0.3s ease-in-out;  	
}
.form-type2 .input2:focus{
  box-shadow: 0px 0px 26px rgba(0,0,0,.5);
  transition: all 0.3s ease-in-out;  
}
.submit-btn{
  margin-top: 70px;
}
.submit-btn .btn-input{
     color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    display: block;
    border: 2px solid #fff;
    text-decoration: none;
    width: 261px;
    border-radius: 8px;
    padding: 6px 0;
    background: transparent;	
    transition: all 0.3s ease-in-out;
}
.submit-btn .btn-input:hover{
  background: #fff;
  color: #000;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

 /*===========================
    duplicate-footer section
  =============================*/
.duplicate-footer-section{
	padding: 135px 0 115px;
	background: #2a3b40;
}
.duplicate-footer-section .fa-quote-left{
    text-align: center;
    display: block;
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
}
.duplicate-footer-section p{
     color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    line-height: 28px;
    padding: 0px 150px;
}
.duplicate-footer-section h3{
     text-align: center;
    color: #fff;
    font-size: 24px;
    margin: 28px 0 36px;
}
.duplicate-footer-section ul{
  padding: 0;
  text-align: center;
}
.duplicate-footer-section ul li{
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}
.duplicate-footer-section ul li i{
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    background: #fff;
    color: #2a3b40;
    font-size: 24px;
    border-radius: 50px;
	transition: all 0.3s ease-in-out;
}
.duplicate-footer-section ul li i:hover{
	background: #ff992b;
	color: #fff;
	transform: translateY(-20px);
	transition: all 0.3s ease-in-out;
}

 /*======================
       footer section
  =======================*/
footer{
	padding: 70px 0;
	background: #d4d8d9;
}
footer h2{

    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
}
footer p{
    color: #2d2f2a;
    font-weight: 500;
    font-size: 18px;
    padding-right: 46px;	
}
.footer-menu{

}
.footer-menu h4{
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 30px;
}
.footer-menu ul{
	padding: 0;
}
.footer-menu ul li{
    list-style: none;
    margin: 2px 0;
    font-weight: 700;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}
.footer-menu ul li:hover{
	transform: translateX(20px);
	color: #ff992b;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}